@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 title-font"><span class="text-danger">D</span>ragon <span class="text-danger">L</span>egion</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
